.navigation-container {
    background-color: white;
    width: auto;
    height: 100px;
}

.wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 7fr;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.wrapper div{ 
    margin: auto 0;
}

.links {
    display: grid;
    grid-auto-flow: column;
}

