body {
  font-family: TitilliumWeb-Regular;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

main {
  transform: translateY(-30px);
  width: 60%;
  margin: auto;
}

.section-container {
  height: auto;
  margin: auto;
  margin-bottom: 50px;
}
